
.question {
    &__number {
        position: absolute;
        width: 155px;
        text-align: center;
        white-space: nowrap;
        padding: 42px 34px 21px;
        background: url('../assets/img/num2.png') no-repeat;
        background-size: 100%;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    &__text {
        
        display: flex;
        flex-grow: 1;
        justify-content: center;
        font-size: 30px;
        padding: 40px;
        padding-left: 180px;
    }
    &__qa {
        display: flex;
        align-items: center;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
.question1 {
    &__pic-general {
        position: relative;
        width: 1000px;
        height: 561px;
        background: url('../assets/img/family.jpg') no-repeat;
        background-size: 100%;
    }
    &__pic {
        position: absolute;
        width: 17%;
        height: 22%;
        overflow: hidden;
        border-radius: 5px;
    }

    &__word {
        max-width: 162px;
        padding: 5px;
        margin: 5px 10px;
        border: 3px solid rgb(3, 109, 195);
        border-radius: 5px;
        cursor: pointer;
        background: #fff;
    }
}
#question1 {
    &__pic1 {
        top: 1%;
        left: 3%;
        width: 17%;
        height: 22%;
    }
    &__pic2 {  
        top: 1%;
        left: 29%;
        width: 12%;
        height: 22%;
    }
    &__pic3 {  
        top: 1%;
        left: 49%;
        width: 11%;
        height: 22%;
    }
    &__pic4 {  
        top: 3%;
        left: 62%;
        width: 9%;
        height: 32%;
    }
    &__pic5 {  
        top: 14%;
        left: 74%;
        width: 15%;
        height: 30%;
    }
    &__pic6 {  
        top: 1%;
        left: 90%;
        width: 9%;
        height: 30%;    
    }
    &__pic7 {  
        top: 34%;
        left: 2%;
        width: 11%;
        height: 28%;
    }
    &__pic8 {  
        top: 26%;
        left: 18%;
        width: 15%;
        height: 29%;
    }
    &__pic9 {  
        top: 27%;
        left: 40%;
        width: 11%;
        height: 28%;
    }
    &__pic10 {  
        top: 63%;
        left: 12%;
        width: 11%;
        height: 27%;
    }
    &__pic11 {  
        top: 64%;
        left: 28%;
        width: 14%;
        height: 22%;
    }
    &__pic12 {  
        top: 61%;
        left: 45%;
        width: 10%;
        height: 34%;
    }
    &__pic13 {  
        top: 51%;
        left: 56%;
        width: 11%;
        height: 36%;
    }
    &__pic14 {  
        top: 48%;
        left: 69%;
        width: 15%;
        height: 32%;
    }
    &__pic15 {  
        top: 68%;
        left: 87%;
        width: 12%;
        height: 21%;
    }
}
.error {
    background: rgba(243, 100, 131, 0.5);
    &.right {
        background: rgba(119, 246, 178, 0.5);
    }
}