.question {
    &__pic {
        text-align: center;
        max-height: 80vh;
        overflow: hidden;
        img {
            height: 100%;
            @media only screen and (max-width: 1240px) {
                height: 80vh;
            }
        }
    }
}