.question5 { 
    .question__body {
        background: #fff;
        padding: 40px;
        border-radius: 25px;
        justify-content: center;
    }
    .question__btns {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .btn {
            width: 34%;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 2px;
            text-align: center;
            &:before, &:after {
                width: 100%;
            }
            &:hover {
                &:before, &:after {
                    border-color: transparent;
                }
            }
        }
    }
}