section.end
    .wrap
        .title Sie haben das gut geschafft! 
        .subtitle Vielen Dank für Ihre Teilnahme!
        .subtitle Orgteam des Sprachmarathons 
        a(href="index.html").btn.question__next Neu starten ⟶