section.question.question1
    .wrap
        .question__qa
            .question__number № 1
            .question__text Hier ist die Familie Schmidt. Suchen Sie die richtigen Benennungen für alle Familienmitglieder?
        .question__body
            .question1__pic-general
                .question1__pic#question1__pic1 
                .question1__pic#question1__pic2 
                .question1__pic#question1__pic3 
                .question1__pic#question1__pic4 
                .question1__pic#question1__pic5 
                .question1__pic#question1__pic6 
                .question1__pic#question1__pic7 
                .question1__pic#question1__pic8 
                .question1__pic#question1__pic9 
                .question1__pic#question1__pic10 
                .question1__pic#question1__pic11
                .question1__pic#question1__pic12 
                .question1__pic#question1__pic13 
                .question1__pic#question1__pic14 
                .question1__pic#question1__pic15 
            .question__words
                .question1__word#question1__word15 Zwillinge
                .question1__word#question1__word3 die Tochter
                .question1__word#question1__word5 der Großvater
                .question1__word#question1__word12 die Mutter
                .question1__word#question1__word7 der Onkel
                .question1__word#question1__word10 der Bruder
                .question1__word#question1__word1 die Familie
                .question1__word#question1__word2 der Sohn
                .question1__word#question1__word8 Eltern
                .question1__word#question1__word4 das Kind
                .question1__word#question1__word11 Kinder
                .question1__word#question1__word13 der Vater
                .question1__word#question1__word6 die Tante
                .question1__word#question1__word9 die Schwester
                .question1__word#question1__word14 die Großmutter
        a(href="qa2.html").btn.question__next Weiter