section.question.question1
    .wrap
        .question__qa
            .question__number № 1
            .question__text Hier ist die Familie Schmidt. Suchen Sie die richtigen Benennungen für alle Familienmitglieder?
        .question__body
            .question1__pic-general
                .bellow.question1__pic#question1__pic1 
                .bellow.question1__pic#question1__pic2 
                .bellow.question1__pic#question1__pic3 
                .bellow.question1__pic#question1__pic4 
                .bellow.question1__pic#question1__pic5 
                .bellow.question1__pic#question1__pic6 
                .bellow.question1__pic#question1__pic7 
                .bellow.question1__pic#question1__pic8 
                .bellow.question1__pic#question1__pic9 
                .bellow.question1__pic#question1__pic10 
                .bellow.question1__pic#question1__pic11
                .bellow.question1__pic#question1__pic12 
                .bellow.question1__pic#question1__pic13 
                .bellow.question1__pic#question1__pic14 
                .bellow.question1__pic#question1__pic15
                .popup Wähle zuerst das Wort unten.
            .question__words
                .draggable.question1__word#question1__word15 Zwillinge
                .draggable.question1__word#question1__word3 die Tochter
                .draggable.question1__word#question1__word14 der Großvater
                .draggable.question1__word#question1__word12 die Mutter
                .draggable.question1__word#question1__word7 der Onkel
                .draggable.question1__word#question1__word10 der Bruder
                .draggable.question1__word#question1__word1 die Familie
                .draggable.question1__word#question1__word2 der Sohn
                .draggable.question1__word#question1__word8 Eltern
                .draggable.question1__word#question1__word4 das Kind
                .draggable.question1__word#question1__word11 Kinder
                .draggable.question1__word#question1__word13 der Vater
                .draggable.question1__word#question1__word6 die Tante
                .draggable.question1__word#question1__word9 die Schwester
                .draggable.question1__word#question1__word5 die Großmutter
            
        .btn-wrap
            a(href="index.html").btn.question__next ⟵ Zurück 
            a(href="qa2.html").btn.question__next Weiter ⟶