section.question.question10
    .wrap
        .question__qa
            .question__number № 10
            .question__text Schreibe die Anzahl der Körperteile eines Menschen.
        .question__body
            .question__pic
                img(src="assets/img/qa10/leg.jpg", alt="pic")
            input(type="text" placeholder="__" class="question10__number" data-number="2")
        .question__body
            .question__pic
                img(src="assets/img/qa10/nose.jpg", alt="pic")
            input(type="text" placeholder="__" class="question10__number" data-number="1")
        .question__body
            .question__pic
                img(src="assets/img/qa10/fingers.png", alt="pic")
            input(type="text" placeholder="__" class="question10__number" data-number="20")
        .question__body
            .question__pic
                img(src="assets/img/qa10/mouth.jpg", alt="pic")
            input(type="text" placeholder="__" class="question10__number" data-number="1")
        .question__body
            .question__pic
                img(src="assets/img/qa10/ear.jpg", alt="pic")
            input(type="text" placeholder="__" class="question10__number" data-number="2")
        .btn-wrap 
            a(href="qa9.html").btn.question__next Zurück ⟵
            a(href="end.html").btn.question__next Weiter ⟶