section.question.question2
    .wrap
        .question__qa
            .question__number № 2
            .question__text Lesen Sie bitte die Benennungen der Farben und verbinden sie mit den richtigen Flecken.
        .question__body
            .question2__pic-general
                .question2__pic#question2__pic1 
                .question2__pic#question2__pic2 
                .question2__pic#question2__pic3 
                .question2__pic#question2__pic4 
                .question2__pic#question2__pic5 
                .question2__pic#question2__pic6 
                .question2__pic#question2__pic7 
                .question2__pic#question2__pic8 
                .question2__pic#question2__pic9 
            .question__words
                .question2__word#question2__word4 hellblau
                .question2__word#question2__word7 rot
                .question2__word#question2__word9 violet
                .question2__word#question2__word3 grün
                .question2__word#question2__word6 rosa
                .question2__word#question2__word1 blau
                .question2__word#question2__word8 schwarz
                .question2__word#question2__word2 gelb
                .question2__word#question2__word5 orange
        a(href="qa3.html").btn.question__next Weiter