section.question.question3
    .wrap
        .question__qa
            .question__number № 3
            .question__text Das Kind geht spazieren. Hat sich das Kind richtig angezogen? 
        .question__body
            .question__pic
                img(src="assets/img/qa3/winter-summ.jpg", alt="pic")
            .question__btns
                .btn.btn--wrong Richtig
                .btn.btn--right Falsch
        .question__body
            .question__pic
                img(src="assets/img/qa3/boy-winter.jpg", alt="pic")
            .question__btns
                .btn.btn--wrong Richtig
                .btn.btn--right Falsch
        .question__body
            .question__pic
                img(src="assets/img/qa3/children-aut.jpg", alt="pic")
            .question__btns
                .btn.btn--right Richtig
                .btn.btn--wrong Falsch
        .question__body
            .question__pic
                img(src="assets/img/qa3/children-spring.jpg", alt="pic")
            .question__btns
                .btn.btn--right Richtig
                .btn.btn--wrong Falsch
        .btn-wrap
            a(href="qa2.html").btn.question__next ⟵ Zurück
            a(href="qa4.html").btn.question__next Weiter ⟶