section.question.question4
    .wrap
        .question__qa
            .question__number № 4
            .question__text Was kann das Kind machen? Sei aufmerksam!
        .question__body
            .question__pic
                img(src="assets/img/qa4/sing.JPG", alt="pic")
            .question__btns
                .btn.btn--right singen
                .btn.btn--wrong tanzen
                .btn.btn--wrong lesen
        .question__body
            .question__pic
                img(src="assets/img/qa4/eat.PNG", alt="pic")
            .question__btns
                .btn.btn--wrong laufen
                .btn.btn--wrong springen
                .btn.btn--right essen
        .question__body
            .question__pic
                img(src="assets/img/qa4/girl.jpg", alt="pic")
            .question__btns
                .btn.btn--wrong lesen
                .btn.btn--wrong singen
                .btn.btn--right springen
        .question__body
            .question__pic
                img(src="assets/img/qa4/boy.jpg", alt="pic")
            .question__btns
                .btn.btn--wrong essen
                .btn.btn--right malen
                .btn.btn--wrong singen
        a(href="qa5.html").btn.question__next Weiter ⟶