section.question.question5
    .wrap
        .question__qa
            .question__number № 5
            .question__text Welches Wort ist hier falsch?
        .question__body
            .question__btns
                .btn.btn--wrong der Apfel
                .btn.btn--wrong die Kirsche
                .btn.btn--wrong die Erdbeere
                .btn.btn--right der Schrank
        .question__body
            .question__btns
                .btn.btn--wrong die Paprika
                .btn.btn--right das Mädchen
                .btn.btn--wrong die Gurke
                .btn.btn--wrong die Zwiebel
        .question__body
            .question__btns
                .btn.btn--right der Bus 
                .btn.btn--wrong der Knopf
                .btn.btn--wrong das Kleid
                .btn.btn--wrong die Handschuhe
        .btn-wrap                
            a(href="qa4.html").btn.question__next ⟵ Zurück
            a(href="qa6.html").btn.question__next Weiter ⟶