section.question.question6
    .wrap
        .question__qa
            .question__number № 6
            .question__text Sechste Frage. Um wie viel Uhr sagt man welche Begrüßung? 
        .question__body
            .question6__pic-general
                .question__pic#question6__pic1 
                    img(src="assets/img/qa6/clock1.jpg", alt="pic")
                .question__pic#question6__pic2 
                    img(src="assets/img/qa6/clock2.jpg", alt="pic")
                .question__pic#question6__pic3 
                    img(src="assets/img/qa6/clock3.jpg", alt="pic")
                .question__pic#question6__pic4 
                    img(src="assets/img/qa6/clock4.jpg", alt="pic")
            .question__words
                .question2__word#question6__word3 18.15
                .question2__word#question6__word2 15.00
                .question2__word#question6__word4 22.35
                .question2__word#question6__word1 08.25
            .question__words
                .question2__word#question6__word22 Guten Tag!
                .question2__word#question6__word44 Gute Nacht!
                .question2__word#question6__word11 Guten Morgen! 
                .question2__word#question6__word33 Guten Abend!
        a(href="qa7.html").btn.question__next Weiter ⟶