section.question.question6
    .wrap
        .question__qa
            .question__number № 6
            .question__text Um wie viel Uhr sagt man welche Begrüßung? 
        .question__body
            .question6__pic-general
                .bellow.question__pic#question6__pic1 
                    img(src="assets/img/qa6/clock1.jpg", alt="pic")
                    .time 08.25
                .bellow.question__pic#question6__pic2 
                    img(src="assets/img/qa6/clock2.png", alt="pic")
                    .time 15.00
                .bellow.question__pic#question6__pic3 
                    img(src="assets/img/qa6/clock3.jpg", alt="pic")
                    .time 18.15
                .bellow.question__pic#question6__pic4 
                    img(src="assets/img/qa6/clock4.jpg", alt="pic")
                    .time 22.35
                .popup Wähle zuerst die Begrüßung unten.
            .question__words
                .draggable.question6__word#question6__word2 Guten Tag!
                .draggable.question6__word#question6__word4 Gute Nacht!
                .draggable.question6__word#question6__word1 Guten Morgen! 
                .draggable.question6__word#question6__word3 Guten Abend!
        .btn-wrap 
            a(href="qa5.html").btn.question__next ⟵ Zurück
            a(href="qa7.html").btn.question__next Weiter ⟶