section.question.question7
    .wrap
        .question__qa
            .question__number № 7
            .question__text Die folgenden Wörter beschreiben die Verkehrsmittel. Schreibe die fehlende Buchstaben.
        .question__body
            .question__letters
                .question__letter Heli
                input(type="text" placeholder="_" class="letter" data-letter="k" maxlength="1")
                .question__letter op
                input(type="text" placeholder="_" class="letter" data-letter="t" maxlength="1")
                .question__letter er
        .question__body
            .question__letters
                .question__letter B
                input(type="text" placeholder="_" class="letter" data-letter="a" maxlength="1")
                input(type="text" placeholder="_" class="letter" data-letter="h" maxlength="1")
                .question__letter n
        .question__body
            .question__letters
                .question__letter B
                input(type="text" placeholder="_" class="letter" data-letter="o" maxlength="1")
                .question__letter o
                input(type="text" placeholder="_" class="letter" data-letter="t" maxlength="1")
        .question__body
            .question__letters
                .question__letter Z
                input(type="text" placeholder="_" class="letter" data-letter="u" maxlength="1")
                .question__letter g
        .question__body
            .question__letters
                .question__letter T
                input(type="text" placeholder="_" class="letter" data-letter="r" maxlength="1")
                .question__letter akt
                input(type="text" placeholder="_" class="letter" data-letter="o" maxlength="1")
                .question__letter r
        .question__body
            .question__letters
                .question__letter Fl
                input(type="text" placeholder="_" class="letter" data-letter="u" maxlength="1")
                .question__letter gze
                input(type="text" placeholder="_" class="letter" data-letter="u" maxlength="1")
                .question__letter g
        .question__body
            .question__letters
                .question__letter Au
                input(type="text" placeholder="_" class="letter" data-letter="t")
                .question__letter o
        .btn-wrap 
            a(href="qa6.html").btn.question__next ⟵ Zurück
            a(href="qa8.html").btn.question__next Weiter ⟶