section.question.question8
    .wrap
        .question__qa
            .question__number № 8
            .question__text Achte Aufgabe. Verbinde die Tiere und Ihre Töne.
        .question__body
            .question8__pic-general
                .bellow.question8__pic#question8__pic1 
                .bellow.question8__pic#question8__pic2 
                .bellow.question8__pic#question8__pic3 
                .bellow.question8__pic#question8__pic4 
                .bellow.question8__pic#question8__pic5 
                .bellow.question8__pic#question8__pic6 
            .question__words
                .draggable.question8__word#question8__word6 QUAK
                .draggable.question8__word#question8__word5 FIEP! FIEP!
                .draggable.question8__word#question8__word4 KIKERIKI!
                .draggable.question8__word#question8__word3 Miau!
                .draggable.question8__word#question8__word2 Wau-Wau!
                .draggable.question8__word#question8__word1 Muh!
        a(href="qa9.html").btn.question__next Weiter ⟶