section.question.question9
    .wrap
        .question__qa
            .question__number № 9
            .question__text Welche Emotion passt zu welchem Smile?
        .question__body
            .question9__pic-general
                .bellow.question9__pic#question9__pic1 Furchtbar!
                .bellow.question9__pic#question9__pic2 Schlecht!
                .bellow.question9__pic#question9__pic3 So-so-la-la!
                .bellow.question9__pic#question9__pic4 Gut!
                .bellow.question9__pic#question9__pic5 Sehr gut!
                .popup Wählen Sie zuerst das Smile unten.
            .question__words
                .draggable.question9__word#question9__word4
                .draggable.question9__word#question9__word5
                .draggable.question9__word#question9__word3
                .draggable.question9__word#question9__word2
                .draggable.question9__word#question9__word1
        .btn-wrap 
            a(href="qa8.html").btn.question__next ⟵ Zurück
            a(href="qa10.html").btn.question__next Weiter ⟶